[Unit]
Description=Kibana
Before=
After=network.target

[Service]
User=elasticsearch
CHDIR= {{ kibana_dir }}/kibana-{{ kibana_version }}-{{ kibana_os }}-{{ kibana_arch }}
ExecStart={{ kibana_dir }}/kibana-{{ kibana_version }}-{{ kibana_os }}-{{ kibana_arch }}/bin/kibana >> {{ kibana_log }} 2>&1
Restart=on-abort

[Install]
WantedBy=multi-user.target